<li class="list-group-item mt-2 mb-2">
  <div class="row">
    <div class="col-9">
      <p [class]="todo.status ? 'todo-text' : ''">{{ todo.description }}</p>
      <div
        [class]="
          todo.status
            ? 'badge badge-pill badge-success'
            : 'badge  badge-pill badge-danger'
        "
      >
        {{ todo.status ? "Completed" : "Pending" }}
      </div>
    </div>
    <div class="col-3">
      <button class="btn btn-danger mr-2" (click)="deleteTodo()">✕</button>
      <button
        class="btn btn-info"
        (click)="completeTodo()"
        [disabled]="todo.status"
      >
        ✓
      </button>
    </div>
  </div>
</li>
